	body {background-color:white;}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {vertical-align: middle;}
	.breadcrumb {border-radius:0;margin-top:-20px;}
	.breadcrumb > li+li:before {color:black;}
	.breadcrumb > li > a {color:#888;}
	.sb-toggle-left, .sb-toggle-right, .sb-openleft, .sb-open-right, .sb-close { cursor:pointer; }
	.sb-right {margin-top:52px;}

	.startbox { height:120px;padding:10px; position:relative; margin-bottom:20px; color:#fff}
	.startbox .icon {font-size:60px; position:absolute; top:10px;left:10px;}
	.startbox .number {font-size:40px; position:absolute; top:10px;right:10px;}
	.startbox .title {font-size:16px; position:absolute; top:80px;right:10px;}

	#userTab{ background-color:white;}
	#userTab>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
	  color: #009587!important;
	--  cursor: default;
	--  background-color: #fff!important;
	  border: 1px solid #ddd!important;
	  border-bottom-color: transparent;
	}
	#userTab>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	  color: #555!important;
	--  cursor: default;
	--  background-color: #fff;
	  border: 1px solid #ddd!important;
	  border-bottom-color: transparent;
	}
	.nav-tabs>li.disabled {display:none;}
	.tab-content {
	  border: 1px solid #ddd!important;
	  border-top-color: transparent;
	}

	.tab-content > .active { padding:10px;}

	.nav > li > a {color:white;}
	.nav > li > a:hover {color:#888;background-color:#ccc;}
	
	table.tablesorter th.tablesorter-headerDesc div.tablesorter-header-inner {
	    background-image: url('../css/images/asc.gif');
	    background-repeat: no-repeat;
	    background-position: right;
	}
	
	table.tablesorter th.tablesorter-headerAsc div.tablesorter-header-inner {
	    background-image: url('../css/images/desc.gif');
	    background-repeat: no-repeat;
	    background-position: right;
	}
	
	table.tablesorter th.tablesorter-headerUnSorted.Sortable div.tablesorter-header-inner {
	    background-image: url('../css/images/bg.gif');
	    background-repeat: no-repeat;
	    background-position: right;
	}
	
	#unuserResult, #patientResult {
		font-size:14px !important;
	}
	
	#user_detail_table {
		font-size:13px !important;
	}
	
	#user_detail_table td, #unuserResult td, #patientResult td {
		padding: 3px !important;
	}
	
	.short-form-group2 div.col-md-2 {
		height: 32px !important;
	}
	
	.short-form-group, .short-form-group2 {
		margin-bottom: 6px;
	}
	
	.showtooltip {
	  max-width: 200px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden;
	}
	
	.showunusertooltip {
	  max-width: 100px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden;
	}
	
	.showusertooltip {
	  max-width: 150px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden;
	}
	
	.tooltip{
		word-break: break-all;
	}
	
	.modal-header {
    padding:9px 15px; color:fff;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     /*border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
 }
 
 body{
    margin:0px;
    background:#000;
}

.fix-header {
    position: fixed;
    width: 100%;
    top:70px;
    z-index: 100;
}

.myDraggableDialog {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 9999;
    top: 70px;
    left: 0;
    overflow: hidden;
    position:fixed;
}

.mySecondDraggableDialog {
    position: fixed;
    z-index: 9999;
    top: 70px;
    left: 30%;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    position:fixed;
}

#viewport {
	height: 500px;
	
	width: 896px;

	overflow: auto;
}

.checkbox label input[type=checkbox]:disabled ~ .ripple{
	cursor: not-allowed;
}

.checkbox label input[type=checkbox]:disabled ~ .check{
	cursor: not-allowed;
}

.radio label input[type=radio]:disabled ~ .circle{
	cursor: not-allowed;
}

.radio label input[type=radio]:disabled ~ .check{
	cursor: not-allowed;
}

.radio .disabled, .checkbox .disabled{
	cursor: not-allowed;
}
.table-hover-detail tbody .tr_striped_even{
	background-color: #f9f9f9;
} 
.color_highlight{
	background-color: #f9f9f9;
}
.tr_striped_th{
	background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
  background-color: #f9f9f9;
}

.table-striped > thead > tr > td,
.table-striped > thead > tr > th {
  background-color: #f9f9f9;
}
.follow_up{
	color: red;
}

.un_follow_up {
	color: red;
}

.not_un_follow_up {
	color: black;
}

.divTabPanel{
	min-width:990px;
}
.divTabPanelBody{
	min-width:815px;
}
.display{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.lblDisplay_no1 {
	padding-top:7px;
	width:150px;
	text-align: right;
	display: inline-table;
}

.lblDisplay_no2{
	padding-top:7px;
	width:110px;
	text-align: right;
	display: inline-table;
}

.lblDisplay_no3{
	padding-top:7px;
	width:258px;
	text-align: right;
	display: inline-table;
}

.lblDisplay_no4{
	padding-top:7px;
	width:85px;
	text-align: right;
	display: inline-table;
}

.divDisplay_no4{
	width:116px;
	text-align: right;
	display: inline-table;
}

.lblDisplay_no5{
	padding-top:7px;
	padding-left: 0px;
	width:14px;
	text-align: right;
	display: inline-table;
	font-weight: 100;
}

.lblDisplay_no6 {
	padding-top:7px;
	width:95px;
	text-align: right;
	display: inline-table;
	font-size: 18px;
}

.lblDisplay_no7 {
	padding-top:7px;
	width:156px;
	text-align: right;
	display: inline-table;
}

.lbl-width-258px{
	width:258px;
}

.col-width-85px{
	width:85px;
}

.col-width-125px{
	width:125px;
}

.col-width-125px-big {
	width:125px;
	font-size: 16px;
}

.col-width-265px{
	width:265px;
}
.col-height-28px{
	height: 28px !important;
}

.modal-open {
	padding-right: 0px !important;
}
.disabled{
	cursor: default !important;
	background-color : #f5f5f5 !important;
}

.template{
    display: none;
}

div#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(images/loading.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:0px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}